html[data-theme='dark'] {
    --background-primary: #1b1b1b;
    --background-secondary: #343434;
    /* --background */

    --border-primary: #858585;

    --text-primary: #fff;
    --text-secondary: #cdcdcd;


       /* setting color for elements */
    color: var(--text-primary);
    background-color: var(--background-primary);

    /* for shadow element */
    --text-color: var(--text-primary);
    --background-color: var(--background-primary);
    --invert-filter: invert(1);

    --theme-dropdown-bg-color: var(--background-primary);
    --theme-dropdown-hover-bg-color: #696969;
}