html:root {

    /* Theme */
    --theme-light-bg-color: #f0f0f0;
    --theme-light-text-color: #123;

    --theme-dark-bg-color: #121212;
    --theme-dark-text-color: #f0f0f0;

    --theme-dark-dropdown-hover-bg-color :#000000;
    --theme-light-dropdown-hover-bg-color :#d3d2d2;

}

:root {
    background-color: var(--theme-light-bg-color);
    color: var(--theme-light-text-color);
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 10px;
    font-family: Verdana;
    /* background-color: var(--theme-light-bg-color); */
    /* color: var(--theme-light-text-color); */
}

@media( prefers-color-scheme: dark )
{
    html:root{
        color: var(--theme-dark-text-color);
        background-color: var(--theme-dark-bg-color);
        
        /* for shadow element */
        --text-color : var(--theme-dark-text-color);
        --background-color : var(--theme-dark-bg-color);
        --invert-filter: invert(1);

        --theme-dropdown-bg-color : var(--theme-dark-bg-color);
        --theme-dropdown-hover-bg-color : var(--theme-dark-dropdown-hover-bg-color);

    }
}

@media( prefers-color-scheme: light )
{
    html:root{
        color: var(--theme-light-text-color);
        background-color: var(--theme-light-bg-color);
        
        /* for shadow element */
        --text-color : var(--theme-light-text-color);
        --background-color : var(--theme-light-bg-color);
        --invert-filter: invert(0);

        --theme-dropdown-bg-color : var(--theme-light-bg-color);
        --theme-dropdown-hover-bg-color : var(--theme-light-dropdown-hover-bg-color);

    }
}

html[data-theme='dark']{
    color: var(--theme-dark-text-color);
    background-color: var(--theme-dark-bg-color);
    
    /* for shadow element */
    --text-color : var(--theme-dark-text-color);
    --background-color : var(--theme-dark-bg-color);
    --invert-filter: invert(1);

    --theme-dropdown-bg-color : var(--theme-dark-bg-color);
    --theme-dropdown-hover-bg-color : var(--theme-dark-dropdown-hover-bg-color);
}

html[data-theme='light']{
    color: var(--theme-light-text-color);
    background-color: var(--theme-light-bg-color);
    
    /* for shadow element */
    --text-color : var(--theme-light-text-color);
    --background-color : var(--theme-light-bg-color);
    --invert-filter: invert(0);

    --theme-dropdown-bg-color : var(--theme-light-bg-color);
    --theme-dropdown-hover-bg-color : var(--theme-light-dropdown-hover-bg-color);
}