@import url("./theme/os.css");
@import url("./theme/dark.css");
@import url("./theme/light.css");


html:root {
    /* font-size: 16px; */
    /* Theme */
    --btn-color: #f0f0f0;

    --type-smaller-font-size :0.833rem;
    --type-base-font-size-rem : 1rem;

    --font-body-strong-weight :600;
    --letter-spacing-strong:.02rem;

    --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-family: var(--font-fallback);

    /* font-size: 1rem; */
    font-weight: 400;
}


* {
    padding: 0;
    margin: 0;
}


/* width */
/* html::-webkit-scrollbar {
    width: 1rem;
}


html::-webkit-scrollbar-track {
    background: #424242;
}


html::-webkit-scrollbar-thumb {
    background: #6d6d6d;
}


html::-webkit-scrollbar-thumb:hover {
    background: #7b7b7b;
}

html::-webkit-scrollbar-button:single-button{
    background: #424242;
} 
*/