navigation-menu li {
    /* color: white; */
    font-size: 1.1rem;
    padding: 0.2rem;
}

navigation-menu li:hover{
    /* color: white; */
    background-color: #0085f230;
    color: #0069c2;
    border-radius: 10%;
}

#main-page{
    font-size: 1rem;
}
