navigation-menu li {
    /* color: white; */
    font-size: 1.1rem;
    padding: 0.2rem;
}

navigation-menu li:hover{
    /* color: white; */
    background-color: #0085f230;
    color: #0069c2;
    border-radius: 10%;
}

#main-page{
    font-size: 1rem;
}

#action-container{
    background-color: var(--background-secondary);

    border-bottom: 1px solid #858585;


    padding: 0 16rem;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content:flex-end;
    align-items:center;

}

#action-container .icon_language{
    /* background-image : url(/portfolio/images/icons/globe.svg); */
    height: 1rem;
    width: 1rem;
    filter: var(--invert-filter);
    padding-right: 0.2rem;
}

#action-container button{
    display: flex;
    margin: 0.3rem;;
    padding: 0.1rem;
    font-size: 0.8rem;
    /* size: 2rem; */
}


