<!-- <link rel="stylesheet" href="js/template/navigation/navigation.css"> -->
<style>
    @import 'js/template/navigation/navigation-template.css';
    /* url( 'js/template/navigation/navigation-template.css' ); */
</style>

<script>
    console.log("hello");
</script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="navigation-element">
    <div class="navigation-logo">
        <img src="images/logo.png" customPath="/" />
    </div>
    <ul>
        <slot name="item">

        </slot>
    </ul>
    <div class="theme-container">
        <button class="btn">
            <span class="dropdown-container">
                <img class="dropdown-icon" src="../../../images/icons/moon-regular.svg" />
                <div class="dropdown">
                    <div>
                        <span class="option" data-name="OS">  <img class="icon" src="../../../images/icons/circle-half-stroke-solid.svg" /> <span class="text">OS Default</span>   </span>
                        <span class="option" data-name="Light">  <img class="icon" src="../../../images/icons/icons8-sun.svg" /> <span class="text">Light </span>   </span>
                        <span class="option" data-name="Dark">  <img class="icon" src="../../../images/icons/moon-regular.svg" /> <span class="text">Dark </span>    </span>
                    </div>
                </div>
            </span>
            <span>
                Theme
            </span>
        </button>
    </div>
</div>