.navigation-element {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7rem;
    align-items: center;
    /* background-color: var(--navigation-background); */
}

.navigation-element .navigation-logo {
    display: flex;
    flex-direction: row;
    flex-basis: 40%;
    padding: 0;
    margin: 0;
    max-height: 100%;
}

.navigation-element .navigation-logo img {
    padding: 0;
    margin: 0;
    max-width: 25%;
    max-height: 100%;
    filter: var(--invert-filter);
}

.navigation-element ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: space-evenly;
}

.navigation-element .theme-container{
    
    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
}

.navigation-element .theme-container button{

    /* padding: 0.7rem 1.6rem;
    border: none; */
    width :5rem;
    padding: 0;
    margin: 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: relative;

    background-color: inherit;
    color: inherit;
    border: 0;

}

.navigation-element .theme-container button .dropdown-icon{
    width: 1rem;
    height: 1rem;
    filter: var(--invert-filter);
}

.navigation-element .theme-container button .dropdown-container .dropdown
{
    position: absolute;
    top : 1.5rem;
    left:0;
    width :6rem;
    box-shadow: 0.1rem 0.1rem 8px var(--text-color);
}

/* .navigation-element .theme-container button .dropdown 
{
    display: none;
} */


.navigation-element .theme-container button .dropdown-container .dropdown div
{
    padding: 0.2rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-dropdown-bg-color);
    box-sizing: border-box;

}

.navigation-element .theme-container button .dropdown-container .dropdown div .option
{
    padding: 0.3rem;
    margin: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.navigation-element .theme-container button .dropdown-container .dropdown div .option:hover
{
    background-color: var(--theme-dropdown-hover-bg-color );
}

/* .navigation-element .theme-container button .dropdown-container .dropdown div .option img{
    width: 0.7rem;
    height: 0.7rem;
    fill: var(--theme-dropdown-icon-bg-color);
} */

.navigation-element .theme-container button .dropdown-container .dropdown div .option .icon{
    width: 0.7rem;
    height: 0.7rem;
    filter: var(--invert-filter);
}



.navigation-element .theme-container button .dropdown-container .dropdown div .option .text{
    font-size: 0.7rem;
    padding-left: 0.3rem;
    box-sizing: border-box;
    color: var(--text-color );
}