<style>
    @import url(/portfolio/pages/template/Project/pagination/pagination.css);
    @import url(/portfolio/pages/template/Project/pagination/tempt-projectItem.css); 
    /* instead of adding everytime with template add it in parent to add it once */
</style>

<div class="pagination_content">
    <div class="title">
        Pagination
    </div>
    <div class="search_container">
        <input type="text" placeholder="Search Project Name"/> 
        <button>search</button>
    </div>
    <table class="content" id="list">
        <!-- Content -->
    </table>
    <div class="page_numbers" id="pagination">

    </div>
    
</div>