
<!-- Project -->
<tr class="container">
    <td id="item" class="name">
        Name
    </td>
    <td id="item" class="preview">
        <a href="https://www.youtube.com/embed/AwcdK_4WyUM" target="_blank">preview_link</a>
    </td>
    <td id="item" class="languages">
        Languages
    </td>
    <td id="item" class="source">
        <a href="https://www.youtube.com/embed/AwcdK_4WyUM" target="_blank">source_Link</a>
    </td>
    <td id="item" class="applicationtype">
        Application
    </td>
    <td id="item" class="date">
        Date
    </td>
</tr>