<style>
     @import url(/portfolio/pages/template/admin/project/addproject.css);
</style>

<div class="projectpanel">
    <div class="projectTemp">
        <div class="first">
            <div>
                <input type="number" name="pid" placeholder="p-id">
            </div>
            <div>
                <input type="text" name="name" id="" placeholder="name">
            </div>
            <div>
                <input type="text" name="applicationType" id="" placeholder="application Type" >
            </div>
        </div>
        <div class="second">
            <div>
                <input type="text" name="languages" id="" placeholder="languages">
            </div>
        </div>
        <div class="third">
            <div>
                <input type="text" name="summary" id="" placeholder="summary">
            </div>
        </div>
        <div class="fourth">
            <div>
                <input type="text" name="sourceLink" id="" placeholder="sourceLink">
            </div>
            <div>
                <input type="text" name="previewLink" id="" placeholder="previewLink">
            </div>
            <div>
                <input type="text" name="contributedBy" id="" placeholder="contributedBy">
            </div>
            <div>
                <input type="datetime-local" name="date" id="" placeholder="date">
            </div>
        </div>
        <div class="fifth">
            <button class="submit"> Submit </button>
        </div>
    </div>
</div>