<style>
    @import url(/portfolio/pages/template/Project/HttpRequestChecker/httpreq.css);
</style>
HTTP REquest Checker
<br>

<div class="http_content">
    <div class="request_btn">
        <div> <button data-btn="GET">GET</button> </div>
        <div> <button data-btn="GET_BY_ID">GET by ID</button> </div>
        <div> <button data-btn="POST">POST</button> </div>
        <div> <button data-btn="PUT">PUT</button> </div>
        <div> <button data-btn="DELETE">DELETE</button> </div>
    </div>
    <div class="response_container">
        <pre>
            <code>
            </code>
        </pre>
    </div>
</div>