<tr class="forth-row-container">
    <td colspan="2">
        <div class="col1">
            <div class="section">
                Skills
            </div>
    </td>
</tr>
<tr class="fifth-row-container">
    <td>
        <div class="col1">
            <div>
                Languages
            </div>
    </td>
    <td>
        <div class="col2">
            <div>
                C,C++,Java,C#,PHP,HTML,JavaScript,CSS
            </div>
    </td>
</tr>
<tr class="sixth-row-container">
    <td>
        <div class="col1">
            <div>
                Tools
            </div>
    </td>
    <td>
        <div class="col2">
            <div>
                Git,Docker,maven,gradle,Blender
            </div>
    </td>
</tr>
<tr class="seventh-row-container">
    <td>
        <div class="col1">
            <div>
                Technologies
            </div>
    </td>
    <td>
        <div class="col2">
            <div>
                MySQL,Servlet,JSP ,Unity, Opencv , Arduino
            </div>
    </td>
</tr>
<tr class="eighth-row-container">
    <td>
        <div class="col1">
            <div>
                SDK
            </div>
    </td>
    <td>
        <div class="col2">
            <div>
                Android-SDK
            </div>
    </td>
</tr>