<tr class="second-row-container">
    <td colspan="2">
        <div class="col1">
            <div>
                Education
            </div>
    </td>
</tr>
<tr class="third-row-container">
    <td >
        <div class="col1">
            <div>
                2017-2021
            </div>
    </td>
    <td >
        <div class="col2">
            <div>
                Bachelors's in Computer Application
            </div>
            <div>
                Asian Institute of Management and Technology
            </div>
    </td>
</tr>