
<tr class="first-row-container">
    <td>
        <div class="col1">
            <div>
                Ruhit Rai
            </div>
            <div>
                BCA
            </div>
            <div>
                Asian Institute of Management and Technology
            </div>
        </div>
    </td>
    <td>
        <div class="col2">
            <div>
                Phone - +91-93xxxxxxxx
            </div>
            <div>
                Email - ruhitrai1997@gmail.com
            </div>
            <div>
                Address : 51A, Narengi Tiniali , Guwahti , Assam - 781026
            </div>
        </div>
    </td>

</tr>