<tr class="ninth-row-container">
    <td colspan="2">
        <div class="col1">
            <div class="section">
                Academic Project
            </div>
    </td>
</tr>
<tr class="tenth-row-container">
    <td>
        <div class="col1">
            <div>
                feb-jun 18
            </div>
    </td>
    <td>
        <div class="col2">
            <div>
                Library Management System Offline ( BCA Project, 4th Semester)
            </div>
            <div>
                ➡ Used to store book and member details as well as Borrow & Return Records
            </div>
            <div>
                ➡ Technology : Java (Swing For GUI), Mysql (For DB)
            </div>
            <div>
                ➡ Platform : Cross Platform
            </div>
    </td>
</tr>
<tr class="eleventh-row-container">
    <td>
        <div class="col1">
            <div>
                Aug-dec 20
            </div>
    </td>
    <td>
        <div class="col2">
            <div>
                Library Management System Online ( BCA Project, 6th Semester)
            </div>
            <div>
                ➡ Used to store book and member details as well as Borrow & Return Records
            </div>
            <div>
                ➡ Technology : Java (Swing For GUI), Mysql (For DB) ,PHP
            </div>
            <div>
                ➡ Platform : Cross Platform
            </div>
            <div>
                ➡ Addition : Android Application to access details about Members
            </div>
    </td>
</tr>