.about-container{
    padding-top: 2rem ;
    padding-left: 2rem;
}

table,tr,td {
    /* border: 1px solid black;
    border-collapse: collapse; */
}

table {
    width: 100%;
}

.about-container table .first-row-container .col1{

    display: flex;
    flex-direction: column;
}

.about-container table .first-row-container .col2{

    display: flex;
    flex-direction: column;
}

.about-container table .first-row-container .col2{

    display: flex;
    flex-direction: column;
}
.about-container table .section{
    font-size: 2rem;
    background-color: var(--background-secondary);
}

.about-container table td:has(.col1){
    border-right-style: solid;
}
.about-container table td:has(.section){
    border:none;
}