.home-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;;
    align-items: flex-start;
}

.home-container h1{
    font-size: 1.86rem;
    font-weight: 400;
}

.home-container h3{
    font-size: 2.86rem;
    font-weight: 600;
}

.home-container p{
    font-size: 1.60rem;
    font-weight: 100;
}